* {
  padding: 0;
  margin: 3px;
  box-sizing: border-box;
  color: white;
  font-weight: 600;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

h2,
h3 {
  object-position: center top;
  background-color: #edddd4;
  color: black;
  font-size: 40px;
  width: 80%;
  height: 10%;
  text-align: center;
}

select,
select option {
  color: black;
}

button {
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  color: white;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#all-players-containers {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
  margin: auto;
}


#team {
  color: black;
}

.player-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 5px solid #772e25;
  background-color: #c44536;
  width: 400px;
  height: 600px;
  box-shadow: 10px 5px 5px black;
}


.player-card img {
  width: 80%;
  position: relative;
  border: 5px solid #772e25;
}

.player-card div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 83%;
}

.player-card div div {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 83%;
}

.detail-card {
  height: 800px;
  width: 600px;
}

.detail-card img {
  height: 75%;
  width: auto;
}

.detail-card div {
  margin-top: 0;
  margin-bottom: 20px;
}

.detail-card h3 {
  height: 8%;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

